@media only screen and (max-width : 514px){
    button{
        margin-top: 20px;
    }
}

@media only screen and (max-width : 375px) {
    body{
        margin: 5px;
    }

    input{
        width: 180px;
    }

    .child{
        text-align: center;
        flex-direction: column;
    }
}